In [1]:
import pandas as pd
import sqlalchemy as sa

In [2]:
db_secret = {
        'drivename' : 'postgresql+psycopg2',
        'host' : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
        'port' : '5432',
        'user': 'mredshaw',
        'password' : '2023!Schulich',
        'database' : 'mban_db'
}

In [3]:
db_connection_url = sa.engine.URL.create(
    drivername = db_secret['drivename'],
    username = db_secret['user'],
    password = db_secret['password'],
    host = db_secret['host'],
    port = db_secret['port'],
    database = db_secret['database']
)

In [4]:
db_connection_url

postgresql+psycopg2://mredshaw:***@mmai5100postgres.canadacentral.cloudapp.azure.com:5432/mban_db

In [5]:
engine = sa.create_engine(db_connection_url)

In [6]:
with engine.connect() as connection:
    data = pd.read_sql(sql='SELECT * FROM dimensions.date_dimension;', con=connection)

In [7]:
data

,sk_date,date,day_name,day_of_month,day_of_year,month,month_name,year,year_week,week,running_week,year_quarter,quarter,running_quarter
0,20190101,2019-01-01,Tuesday,1,1,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
1,20190102,2019-01-02,Wednesday,2,2,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
2,20190103,2019-01-03,Thursday,3,3,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
3,20190104,2019-01-04,Friday,4,4,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
4,20190105,2019-01-05,Saturday,5,5,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,20231227,2023-12-27,Wednesday,27,361,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1822,20231228,2023-12-28,Thursday,28,362,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1823,20231229,2023-12-29,Friday,29,363,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1824,20231230,2023-12-30,Saturday,30,364,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1825,20231231,2023-12-31,Sunday,31,365,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20

In [8]:
db_secret = {
    'drivername' : 'postgresql+psycopg2',
    'host'      : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'      : '5432',
    'username'  : 'mredshaw',
    'password'  : '2023!Schulich',
    'database'  : 'mredshaw_db'
}

In [9]:
db_connection_url = sa.engine.URL.create(
    drivername = db_secret['drivername'],
    username   = db_secret['username'],
    password   = db_secret['password'],
    host       = db_secret['host'],
    port       = db_secret['port'],
    database   = db_secret['database']
)

In [10]:
engine = sa.create_engine(db_connection_url)

In [12]:
with engine.connect() as connection:
    connection.execute('CREATE SCHEMA IF NOT EXISTS final_exam')

ObjectNotExecutableError: Not an executable object: 'CREATE SCHEMA IF NOT EXISTS final_exam'

In [11]:
data.to_sql(
    name = 'date_dimension', 
    schema = 'final_exam',
    con = engine,
    if_exists = 'replace',
    index = False,
    method = 'multi'
)

1826